# IntelliJ-specific folders and files
/.idea
*/.idea
/out
*/out
*.iml
*.ipr
*.iws
*.DS_STORE
/classes


# Gradle-specific folders and files
/.gradle
*/.gradle
*/build/
/build
gradle.properties
!gradle/wrapper/gradle-wrapper.jar
